/*
Theme Name:   Verge Framework Child Theme
Description: Verge Framework is a base for Verge Design projects. We use a set of default settings to create your website with clean code from the ground up on a solid framework encompassing the least amount of files possible, properly enqueued in the relevant places for a fast and stable website.
Author: Verge Design
Author URI: http://vergedesign.co.uk
Template: vergeFramework
*/
/*@import url("../css/vergestyles.css");*/
/* Fonts start here */

.dpt-horizontal-wrapper.customStyles {
  background-color: #134a43;
}
.dpt-horizontal-wrapper.customStyles .dpt-heading {
  border-bottom: 1px solid #3e605c;
}
.dpt-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3e605c;
}

.dpt-heading h3 {
  margin: 0;
  padding: 10px 30px;
  font-size: 18px;
  color: #e2e2e2;
}

.dpt-heading .date {
  flex: 1;
  text-align: left;
}

.dpt-heading .timetable-link {
  flex: 1;
  text-align: right;
}
.dpt-horizontal-wrapper.customStyles .dpt-heading h3, .dpt-horizontal-wrapper.customStyles .dpt-heading p {
  display: inline-block;
  padding-bottom: 0px;
  font-size: 18px;
  padding: 10px 30px;
  color: #e2e2e2;
}

.dpt-heading .side-by-side {
  width: 50%;
  border-bottom: 1px solid #3e605c;
}

h3.date {
  float: left;
}

h3.timetable-link {
  text-align: right;
}

.dpt-horizontal-wrapper.customStyles .dpt-heading p {
  text-align: right;
  font-size: 14px;
}

.dpt-horizontal-wrapper.customStyles .dpt-wrapper-container {
  text-align: center;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

.dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time {
  flex: 1;
  height: 90px;
  display: inline-table;
  border-right: 1px solid #3e605c;
  padding: 10px 0;
}

.dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time:last-child {
  border-right: 0;
}

.dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time.highlight {
  background-color: #00302a;
}

.dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time h3 {
  font-size: 18px;
  color:#e2e2e2;
  padding-bottom: 0px;
}

.dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time div {
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

.dpt-horizontal-wrapper.customStyles .dpt-announcement {
  background-color: #d60000;
  padding: 10px;
}

.dpt-horizontal-wrapper.customStyles .dpt-announcement h3 {
  margin: 0;
  font-size: 14px;
  color: white;
  text-align: center;
}

.prayer-start {
  color: #999999;;
}

.prayer-jamaat {
  color: #e2e2e2;
  font-weight: 800;
}

.dptPrayerIcon{
  color: yellow;
  font-size: 25px;
}

@media only screen and (max-width: 767px) {
  .dpt-horizontal-wrapper.customStyles .dpt-wrapper-container {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time {
    width: 100px;
  }
  .dpt-horizontal-wrapper.customStyles .dpt-wrapper-container .prayer-time h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .dpt-horizontal-wrapper.customStyles .dpt-heading h3, .dpt-horizontal-wrapper.customStyles .dpt-heading p {
    display: block;
    width: 100%;
  }
  .side-by-side {
    text-align: left !important;
    float: none !important;
    border: 0px !important;
  }
}